// scss変数
@import "variables";

// ----------------------------------
// デフォルトスタイル修正
// ----------------------------------
* {
  outline: none !important;
}
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  height: 100%;
  background: $primary;
  color: $accent;
}
a {
  text-decoration: none;
}
input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

// ----------------------------------
// 共通パーツ
// ----------------------------------
.fa-icon {
  height: 24px;
  width: 24px;
  color: $accent;
}

@import "home";
@import "search";
@import "news";
