// scss変数
@import "variables";

// ----------------------------------
// デフォルトスタイル修正
// ----------------------------------
* {
  outline: none !important;
}
html {
  box-sizing: border-box;
  height: calc(100% - 30px);
}
body {
  height: calc(100% - 30px);
  background: #151716;
  color: $accent;
  &::-webkit-scrollbar {
    display: none;
  }
}
a {
  text-decoration: none;
}
input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

// ----------------------------------
// 共通パーツ
// ----------------------------------
.fa-icon {
  height: 24px;
  width: 24px;
  color: $accent;
}

@import "home";
@import "search";
@import "todo";
@import "textgen";
@import "news";
